{% extends 'base/base.html' %}
{# 用户登录后的主页显示 #}
{% load staticfiles %}
{% block bar %}
   <ul class="nav navbar-nav navbar-right">
        <li><a href="#">&nbsp{{ uname }} </a></li>
        <li><a href="{% url 'user:index_for_user' %}">首页</a></li>
        <li><a href="{% url 'user_center:show' %}">用户中心</a></li>
        <li><a href="#"> 关于我们 </a></li>
        <li><a href="{% url 'user:del_session' %}">退出登录</a></li>
    </ul>
{% endblock bar %}
{% block content %}
 <div class="jumbotron">
         <div class="container">
                 <div class="row">
                   <form action="{% url 'user:index_for_user' %}"  method="post">
                         {% csrf_token %}
                        <div class="col-lg-3 col-lg-offset-1">
                                <textarea name="fanyi_content">{{ fanyi_content }}</textarea>
                        </div>
                        <div class="col-lg-2 col-lg-offset-1">
                            <button type="submit">翻译</button>
                        </div>

                        <div class="col-lg-1 col-lg-offset-1">
                                <textarea name="result">{{ result }}</textarea>
                        </div>
                   </form>
                </div>
         </div>
</div>
{% endblock content%}

